body{
    margin: 0;
    height: auto;
    width: auto;
    font-family: 'Basic', sans-serif;
    font-size: large;
}
.main-container{
    width: auto;
    height: auto;
    min-height: 100vh;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

.main-header  header  img{
    height: 80%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

.main-header header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95%;
}

.main-header header > p {
    font-family: 'Exo 2', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 5%;
}
.main-header{
    width: 100%;
    height: 20vh;
    background-color: #f4f9f9;

    display: flex;
    justify-content:center;
    align-items:center;
}


.main-content {
    width: 100%;
    height: auto;
    min-height: 70vh;

    background-color: #f4f9f9;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.navigation {
    height: auto;
    min-height: 70vh;
    max-width: 20%;
    margin: 1%;

    background-color: #197bbd;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;

    justify-items: center;
    flex-direction: column;
}

.content {
    height: auto;
    min-height: 70vh;
    width: 50%;
    margin: 1%;

    background-color: #f4f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    padding: 5%;

}

.content-margin{
    width: 20%;
    height: auto;
}

@media (max-width: 1000px) {
    body{
        font-size: small;
    }
    .main-content{
        justify-content: space-around;

    }

    .navigation {
        max-width: 100%;
        width: 50vw;
    }

    .content {
        width: 50vw;
    }

    .content-margin{
        display: none;
    }

    .main-header  header  p {
        display: none;
    }
}

.user_info{
    width: 100%;
    height: 5vh;

    display: flex;
    background-color: #fe5f55;
    margin-top: 1%;
    flex-direction: row;
    justify-content: right;

}
.user_info p{
    margin-right: 1%;
    align-self: center;


}
.main-footer{
    width: 100%;
    height: 5vh;

    background-color: #fe5f55;

    display: flex;
    justify-content:center;
    align-items: center;
}

.log-in-panel{
    width: 100%;
    height: auto;
    min-height: 70vh;

    background-color: tomato;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}