.menu {
    background-color: black;
    display: flex;
    height: 100%;
    width: 100%;
    /*margin: 5%;*/
    padding: 0px;

}

nav {
    min-width: inherit;
    max-width: inherit;
    width: inherit;

}

.menu li {
    /*width: inherit;*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    padding: inherit;
    margin: inherit;
    height: 100%;
    width: 100%;


}
.menu-option {
    border: 1px solid white;
    background-color: lawngreen;
    color: azure;
    text-decoration: none;

    height: auto;
    width: inherit;
    padding: 1em;
    margin: 0;

    display: flex;
    justify-content: flex-start;

    word-break: break-all;
}

.menu a:hover {
    background-color: gray;
}

