.menu {
    background-color: black;
    display: flex;
    height: 100%;

}

nav {
    min-width: inherit;
    max-width: inherit;
}

.menu li {
    width: 100%;
    list-style-type: none;
}

.menu ul {
    padding: inherit;
    margin: inherit;
    height: 100%;

}
.menu-option {
    border: 1px solid white;
    background-color: maroon;
    color: azure;
    text-decoration: none;

    height: auto;
    width: auto;
    padding: 1em;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    word-break: break-all;
}

.menu a:hover {
    background-color: gray;
}

