.menu {
    height: 100%;
    width: 300px;
    background-color: #111; /* Black */
}

li {
    list-style-type: none;
    margin: 0;
    height: 40px;
}

.menu ul {
    padding-left: 0;
    height: 100%;
}
.menu a {
    margin-top: 10px;
    color: azure;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    padding-left: 40px;

}

.menu a:hover {
    background-color: gray;
    height: 40px;
}

