<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>

    <meta name="description" content="Online Codecool store">
    <meta name="keywords" content="codecool, shop, store, school project, web">
    <meta name="author" content="uMnieDziała">

    <link rel="stylesheet" type="text/css"  href="/static/css/style.css">

</head>
<body>
<div class="main-header">
    <header><img src="/static/img/logo.png" alt="logo">
        <p class="logo-text">queststore</p>
    </header>
</div>
<div class="user_info">
    <p>user name</p>
    <p>user email</p>
</div>

<div class="main-content">
    <div class="navigation" id="navigation">
        {%include "classpath:/templates/admin_menu.twig" ignore missing %}
    </div>

    <div class="content" id="content"> {{ form }}</div>
    <div class="content-margin"></div>
</div>


<div class="main-footer">
    <footer>
        <p>&copy; 2018 Codecool uMnieDziała iDontSpeakJava. Wszystkie prawa zastrzeżone</p>
    </footer>
</div>

</body>
</html>
