<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="static/css/menu.css">
</head>
<body>
<div class="menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="admin_create_mentor.twig">Create mentor</a></li>
            <li><a class="menu-option" href="admin_remove_mentor.html">Remove mentor</a></li>
            <li><a class="menu-option" href="admin_create_codecoolclass.html">Create CodecoolClass</a></li>
            <li><a class="menu-option" href="admin_assign_mentor.html">Assign mentor to class</a></li>
            <li><a class="menu-option" href="admin_edit_mentor.html">Edit mentor</a></li>
            <li><a class="menu-option" href="admin_show_mentor.html">Show mentor</a></li>
            <li><a class="menu-option" href="admin_create_level.html">Create experience level</a></li>
            <li><a class="menu-option" href="index.html">Log out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>