<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>

    <meta name="description" content="Online Codecool store">
    <meta name="keywords" content="codecool, shop, store, school project, web">
    <meta name="author" content="uMnieDziała">

</head>
<body>
Dupa
</body>
</html>
