<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body>
<div class="menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="/admin/create-mentor">Create mentor</a></li>
            <li><a class="menu-option" href="/admin/remove-mentor">Remove mentor</a></li>
            <li><a class="menu-option" href="/admin/create-codecoolclass">Create CodecoolClass</a></li>
            <li><a class="menu-option" href="/admin/assign-mentor">Assign mentor to class</a></li>
            <li><a class="menu-option" href="/admin/edit-mentor-email">Edit mentor's e-mail</a></li>
            <li><a class="menu-option" href="/admin/edit-mentor-class">Edit mentor's class</a></li>
            <li><a class="menu-option" href="/admin/show-mentor">Show mentor</a></li>
            <li><a class="menu-option" href="/admin/create-level">Create experience level</a></li>
            <li><a class="menu-option" href="/logout">Log out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
