<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>

    <meta name="description" content="Online Codecool store">
    <meta name="keywords" content="codecool, shop, store, school project, web">
    <meta name="author" content="uMnieDziała">

    <link rel="stylesheet" href="/static/css/index_style.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
<div class="main-header">
    <header><img src="/static/img/logo.png" alt="logo">
        <p class="logo-text">queststore</p>
    </header>
</div>
<div class="user_info"></div>
<div class="main-content">
    <div class="log-in-panel">
        <div id="user-type"></div>
        <div class="form-style">
            <form method="post">
                <fieldset>
                    <legend>Log in</legend>
                    <label><span>Email </span><input type="email" class="input-field" name="email" placeholder="jan.nowak@gmail.com" required/></label>
                    <label><span>Password </span><input type="password" class="input-field" name="password" placeholder="password" required/></label>
                    <label><input type="submit" value="Log in"/></label>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="main-footer">
    <footer>
        <p>&copy; 2018 Codecool uMnieDziała iDontSpeakJava. Wszystkie prawa zastrzeżone</p>
    </footer>
</div>

</body>
</html>