<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="menu root-menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="mentor_create_codecooler.html">Create new Codecooler</a> </li>
            <li><a class="menu-option" href="mentor_add_quest.html">Add new quest</a></li>
            <li><a class="menu-option" href="mentor_add_artifact.html">Add new artifact</a></li>
            <li><a class="menu-option" href="mentor_choose_quest.html">Edit existing quest</a></li>
            <li><a class="menu-option" href="mentor_choose_artifact.html">Edit existing artifact</a></li>
            <li><a class="menu-option" href="mentor_choose_student_to_mark_quest.html">Mark quest for a Codecooler</a></li>
            <li><a class="menu-option" href="mentor_choose_student_to_mark_artifact.html">Mark artifact for a Codecooler</a></li>
            <li><a class="menu-option" href="mentor_check_wallet.html">Check the wallets of Codecoolers</a></li>
            <li><a class="menu-option" href="/logout">Log out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
