<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="menu root-menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="/student/see-wallet">See your wallet</a></li>
            <li><a class="menu-option" href="/student/buy-artifact">Buy an artifact</a></li>
            <li><a class="menu-option" href="/student/buy-team-artifact">Buy an artifact for team</a></li>
            <li><a class="menu-option" href="/student/get-quest">See available quests</a></li>
            <li><a class="menu-option" href="/team">Manage your team</a></li>
            <li><a class="menu-option" href="/logout">Log out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
