<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body>
<div class="menu root-menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="student_see_wallet.html">See your wallet</a></li>
            <li><a class="menu-option" href="student_buy_artifact.html">Buy an artifact</a></li>
            <li><a class="menu-option" href="student_buy_artifact.html">Buy an artifact for team</a></li>
            <li><a class="menu-option" href="student_get_quest.html">See available quests</a></li>
            <li><a class="menu-option" href="#">Manage your team</a></li>
            <li><a class="menu-option" href="">Log out</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
