<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>root menu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="menu root-menu">
    <nav>
        <ul>
            <li><a class="menu-option" href="/team/create-team">Create new team</a></li>
            <li><a class="menu-option" href="/team/join-team">Join team</a></li>
            <li><a class="menu-option" href="/team/leave-team">Leave your team</a></li>
            <li><a class="menu-option" href="/team/go-back">Go back</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
